body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 10px;
    background-color: #f0f0f0;
}

form {
    max-width: 500px;
    min-width: 300px;
    padding-bottom: 10px;
    
}


#title {
    text-align: center;
    color: #333;
    padding: 20px 0;
    border-bottom: 1px solid #ccc;
}

#description {
    text-align: center;
    color: #666;
    padding: 20px 0;
    border-bottom: 1px solid #ccc;
}

#survey-form {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

legend {
    font-weight: bold;
    font-size: 1.2em;
    color: #333;
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 10px;
    color: #333;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
select,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #444;
}

.inline {
    display: inline-block;
    margin-right: 10px;
}

.submiting {
    color: #666;
    margin-bottom: 10px;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

fieldset:last-of-type {
    text-align: center;
}